body.exercicio
    {
        grid-template-rows: 120px 60px 1fr;
        grid-template-areas: 
            "cabecalho" "navegacao" "principal" "rodape";
    }
.principal
    {
        height: calc(100vh - 240px) ;
    }

.navegacao
    {
        grid-area: "navegacao";
        display: flex;
        justify-content: flex-end;
    }
.navegacao > a
    {
        text-decoration: none;
        color: white;
        font-weight: 300;
        font-size: 1.3rem;
        background-color: rgb(33, 150, 243);
        padding: 5á¹•x 10px;
        margin-right: 10px;
    }
.conteudo
    {
        font-size: 2rem;
    }
.conteudo > .titulo
    {
        font-size: 2.5rem;
        font-weight: 300;
        padding-bottom: 10px;
        border-bottom: 1px solid #999;
        margin-bottom: 20px;
    }