 * {
    box-sizing: border-box;
}

body
    {
        height: 100vh;
        margin: 0px;
        display: grid;
        grid-template-rows: 120px 1fr 60px;
        grid-template-columns: 1fr;
        grid-template-areas: "cabecalho" "principal" "rodape" ;
    }