 * {
    box-sizing: border-box;
}

body
    {
        height: 100vh;
        margin: 0px;
        display: grid;
        grid-template-rows: 420px 1fr 60px;
        grid-template-columns: 2fr;
        grid-template-areas: 
            "cabecalho"
            "principal"
            "principal" ;
    }

.cabecalho
    {
        grid-area: cabecalho;
        width: 100%;
        background-color: rgb(21, 21, 158);
        color: white;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
    }
.principal
    {
        grid-area: principal;
        height: calc(100vh - 180px);
        background-color: #0f0f0f0f;
        padding: 20px;
    }

.rodape
    {
        grid-area: rodape;
        background-color: white;
    }