 * {
    box-sizing: border-box;
}

body
    {
        height: 100vh;
        margin: 0px;
        display: grid;
        grid-template-rows: 200px 1fr 60px;
        grid-template-columns: 2fr;
        grid-template-areas: 
            "cabecalho"
            "principal"
            "principal" ;
    }

.cabecalho
    {
        grid-area: cabecalho;
        width: 100%;
        background-color: rgb(31, 31, 201);
        color: white;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        box-shadow: 1px 7px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 1px 7px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 7px 5px 0px rgba(0,0,0,0.75);
    }
.principal
    {
        grid-area: principal;
        height: calc(100vh - 180px);
        background-color: #0f0f0f0f;
        padding: 20px;
    }

.rodape
    {
        grid-area: rodape;
        background-color: white;
    }